h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 10px 10px 0 rgba(0,0,0,1);
    font-size: 100px;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 39px;
}